# Node modules
node_modules/

# Package Lock
package-lock.json
cars_imgs.json
outputs/output_04_03_24.xml
outputs/output_07_02_24.xml
outputs/output_15_02_24.xml
outputs/output_22_02_24.xml
outputs/output_26_02_24.xml
outputs/output_31_01_24.xml
cars_imgs.json
